* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #fffaf1;
}
.home {
  width: 100%;
  height: 100vh;
  background-image: url(./Pics/carousel-1.jpg);
  background-size: cover;
  position: absolute;
}
nav {
  width: 100%;
  height: 0;
  display: flex;
  justify-content: space-between;
  .listt {
    width: 45%;
    padding: 40px;
    font-size: 20px;
    font-weight: 500;
    z-index: 2;
  }
  .logo {
    width: 50%;
    padding: 20px 50px;
    font-size: 35px;
    font-weight: bolder;
    z-index: 2;
    a {
      text-decoration: none;
      color: white;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: darkgoldenrod !important;
      }
    }
  }
}
.homew {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 100px;
  h3 {
    color: #da9f5b;
    font-size: 30px;
    z-index: 2;
  }
  h1 {
    z-index: 2;

    font-size: 130px;
  }
  h2 {
    z-index: 2;

    font-size: 30px;
  }
}
.color {
  background-color: rgba(49, 32, 26, 0.727);
  width: 100%;
  height: 120vh;
  position: absolute;
  z-index: 1;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 5rem;
}
.up {
  text-align: center;
  padding-bottom: 3rem;
  width: 100%;
  h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: rgb(45, 22, 7);
  }
}
.container {
  display: flex;
  gap: 20px;
  .one {
    padding-left: 5rem;
    gap: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.33%;
    h2 {
      font-weight: bolder;
      font-size: 2.5rem;
      color: rgb(45, 22, 7);
    }
    h6 {
      font-weight: 400;
      font-size: 1.2rem;
      width: 18rem;
    }
    button {
      background-color: rgb(47, 24, 13);
      color: white;
      width: 8rem;
      height: 2.5rem;
      border: 0;
      font-size: 17px;
      font-weight: 500;
            &:hover{
        background-color:rgb(25, 13, 7) ;
      }
    }
    p {
      font-weight: 350;
      font-size: 1rem;
      width: 280px;
    }
  }
  .two {
    width: 33.33%;
    img {
      width: 349.987px;
      height: 500px;
      object-fit: cover;
    }
  }

  .three {
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13px;
    width: 33.33%;
    .icon {
      display: flex;
      gap: 1rem;
    }
    button {
      color: black;
      background-color: #da9f5b;
      width: 8rem;
      height: 2.5rem;
      border: 0;
      font-size: 17px;
      font-weight: 500;
      &:hover{
        background-color: #d88f3b;
      }
    }
    h2 {
      font-weight: bolder;
      font-size: 2.5rem;
      color: rgb(45, 22, 7);
    }
    h6 {
      font-weight: 500;
      font-size: 1.2rem;
    }
    p {
      font-weight: 350;
      font-size: 1rem;
      width: 280px;
    }
  }
}
.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  .up {
    h1 {
      color: rgb(45, 22, 7);
    }
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img {
      width: 220px;
    }
    .icon {
      width: 45px;
      height: 45px;
      object-fit: contain;
      border-radius: 250px;
    }
    .First {
      padding-left: 5rem;
      width: 49%;
      display: flex;
      justify-content: center;
      .word {
        font-weight: lighter;
        font-size: large;
        width: 300px;
        padding: 10px 5px;
      }
      .line {
        width: 100%;
        display: flex;
        gap: 11px;
        h2 {
          font-size: 25px;
        }
      }
      h2 {
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .words {
        padding-left: 2rem;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .Second {
      padding-left: 5rem;
      width: 49%;
      display: flex;
      justify-content: center;
      .word {
        font-weight: lighter;
        font-size: large;
        width: 300px;
        padding: 10px 5px;
      }
      .line {
        width: 100%;
        display: flex;
        gap: 11px;
        h2 {
          font-size: 25px;
        }
      }
      h2 {
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .words {
        padding-left: 2rem;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .Third {
      padding-left: 5rem;
      width: 49%;
      display: flex;
      justify-content: center;
      .word {
        font-weight: lighter;
        font-size: large;
        width: 300px;
        padding: 10px 5px;
      }
      .line {
        width: 100%;
        display: flex;
        gap: 11px;
        h2 {
          font-size: 25px;
        }
      }
      h2 {
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .words {
        padding-left: 2rem;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .Fourth {
      padding-left: 5rem;
      width: 49%;
      display: flex;
      justify-content: center;
      .word {
        font-weight: lighter;
        font-size: large;
        width: 300px;
        padding: 10px 5px;
      }
      .line {
        width: 100%;
        display: flex;
        gap: 11px;
        h2 {
          font-size: 25px;
        }
      }
      h2 {
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .words {
        padding-left: 2rem;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.offer {
  background-image: url(./Pics/Coffee-background1.avif);
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  h1 {
    color: #da9f5b;
    font-size: 90px;
    font-weight: 700;
    z-index: 2;
  }
  h2 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    z-index: 2;
  }
  h3 {
    color: white;
    z-index: 2;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    input {
      width: 280px;
      height: 55px;
      padding: 1rem;
      border: 0;
    }
    button {
      width: 125px;
      height: 55px;
      border: 0;
      background-color: #da9f5b;
      font-weight: 500;
      font-size: 17px;
        &:hover{
        background-color: #d88f3b ;
      }
    }
  }
}
.colorr {
  background-color: rgba(38, 25, 20, 0.784);
  width: 100%;
  height: 70vh;
  position: absolute;
  z-index: 1;
}
.menue {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .up {
    text-align: center;
    padding-bottom: 3rem;
    width: 100%;
    h1 {
      font-size: 3.5rem;
      font-weight: 700;
      color: rgb(45, 22, 7);
    }
  }

  .down {
    display: flex;
    justify-content: center;
    align-items: center;
    .cost {
      border-radius: 50px;
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #da9f5b;
      position: absolute;
      top: -5px;
      right: -5px;
    }
    .one {
      width: 50%;
      padding-left: 16rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      h1 {
        font-size: 40px;
        font-weight: 700;
        width: 250px;
        color: rgb(45, 22, 7);
      }
      h2 {
        font-size: 25px;
        font-weight: 500;
        color: rgb(56, 28, 9);
      }
      img {
        width: 110px;
        border-radius: 80px;
      }
      .img {
        position: relative;
      }
      p {
        width: 330px;
        font-weight: 320;
        font-size: 17px;
      }
      .num1 {
        display: flex;
        gap: 2rem;
      }
      .num2 {
        display: flex;
        gap: 2rem;
      }
      .num3 {
        display: flex;
        gap: 2rem;
      }
    }
    .two {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      gap: 3rem;
      h1 {
        font-size: 40px;
        font-weight: 700;
        width: 250px;
        color: rgb(56, 28, 9);
      }
      h2 {
        font-size: 25px;
        font-weight: 500;
        color: rgb(56, 28, 9);
      }
      img {
        width: 110px;
        border-radius: 80px;
      }
      .img {
        position: relative;
      }
      p {
        width: 330px;
        font-weight: 320;
        font-size: 17px;
      }
      .num1 {
        display: flex;
        gap: 2rem;
      }
      .num2 {
        display: flex;
        gap: 2rem;
      }
      .num3 {
        display: flex;
        gap: 2rem;
      }
    }
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 80%;
  height: 80vh;
  background-image: url(./Pics/Coffee-background2.webp);
  .offerr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    position: relative;
    h1 {
      color: #da9f5b !important;
      font-size: 60px;
      font-weight: 700;
      color: white;
      z-index: 2;
    }
    h2 {
      font-size: 40px;
      font-weight: 700;
      color: white;
      z-index: 2;
    }
    h6 {
      color: white;
      z-index: 2;
    }
    p {
      font-weight: 500;
      width: 410px;
      color: white;
      z-index: 2;
    }
    .icon {
      gap: 1rem;
      padding-top: 0.5rem;
      z-index: 2;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 1rem;
    position: relative;
    h1 {
      z-index: 2;
      color: white;
      width: 200%;
      font-size: 40px;
      font-weight: 700;
    }
    input {
      z-index: 2;
      background-color: rgba(49, 27, 21, 0.796);
      border: 2px solid #da9f5bd5 !important;
      width: 250%;
      height: 50px;
      color: gray;
      border: 0;
      padding: 1rem;
    }
    button {
      z-index: 2;
      width: 250%;
      height: 50px;
      background-color: #da9f5b;
      color: black;
      border: 0;
      &:hover{
        background-color: #d88f3b ;
      }
    }
  }
}
.colorr1 {
  background-color: rgba(49, 32, 26, 0.727);
  height: 80vh;
  width: 68.2%;
  position: absolute;
  z-index: 1;
  margin-top: 2rem;
}
.colorr2 {
  background-color: rgba(49, 32, 26, 0.727);
  height: 80vh;
  width: 32%;
  position: absolute;
  z-index: 2;
  right: 15.1rem;
}
.clients {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}
/* owl libb */
.owl-carousel .card {
  background-color: #fffaf1;
  padding: 30px;
  border: 0;
  max-width: 350px;
  margin: auto;
}
.owl-carousel .card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 15px;
}
.owl-carousel .card h3 {
  color: #3d2310;
  font-size: 20px;
  width: 150px;
  margin: 0;
}
.owl-carousel .card em {
  color: #888;
  font-style: italic;
}
.tog {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.owl-carousel .card p {
  font-size: 18px;
  width: 380px;
  color: #444;
  padding-left: 1rem;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background: #da9f5b !important;
  border-radius: 50%;
  opacity: 0.5;
}
.owl-dot.active {
  background: #3d2310 !important;
  opacity: 1;
  width: 30px;
  border-radius: 20px;
}
.footer {
  width: 100%;
  height: 70vh;
  background-image: url(./Pics/last.jpeg);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .upp {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 20;
    .one {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 4rem;
      gap: 10px;
      padding-top: 2rem;
      h3 {
        font-size: 32px;
        padding-bottom: 0.7rem;
      }
      .together {
        gap: 10px;
      }
    }
    .two {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      padding-top: 1.5rem;
      padding-left: 20px;
      .lmfao {
        gap: 20px;
        font-size: 20px;
        .A {
          border: 2px solid white;
          padding: 10px;
          width: 45px;
          text-align: center;
          &:hover{
            background-color: white;
            color: #3d2310;
            cursor: pointer;
          }
        }
        .B {
          border: 2px solid white;
          padding: 10px;
          width: 45px;
          text-align: center;
            &:hover{
            background-color: white;
            color: #3d2310;
            cursor: pointer;
          }
        }
        .C {
          border: 2px solid white;
          padding: 10px;
          width: 45px;
          text-align: center;
            &:hover{
            background-color: white;
            color: #3d2310;
            cursor: pointer;
          }
        }
        .D {
          border: 2px solid white;
          padding: 10px;
          width: 45px;
          text-align: center;
            &:hover{
            background-color: white;
            color: #3d2310;
            cursor: pointer;
          }
        }
      }
      h6 {
        width: 280px;
      }
    }
    .three {
      padding-left: 20px;
      padding-top: 3.4rem;
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      h3 {
        padding-bottom: 10px;
      }
    }

    .four {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 2rem;
      gap: 2px;
      input {
        width: 210px;
        height: 50px;
        padding: 1rem;
        border: 0;
      }
      button {
        width: 100px;
        height: 50px;
        border: 0;
        background-color: #da9f5b;
        font-weight: 500;
        font-size: 17px;
        &:hover{
        background-color: #d88f3b ;
      }
      }
      h3 {
        padding-bottom: 10px;
      }
      p {
        width: 260px;
      }
    }
  }
  .down {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      z-index: 30;
      color: white;
      font-weight: 600;
    }
  }
}
.colorrr {
  background-color: rgba(29, 19, 15, 0.727);
  height: 70vh;
  width: 100%;
  position: absolute;
  z-index: 2;
}